# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# See https://pre-commit.ci/#configuration
# See https://github.com/scientific-python/cookie#sp-repo-review

ci:
  autofix_prs: false
  autoupdate_commit_msg: "chore: update pre-commit hooks"

repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.23"
    hooks:
      - id: validate-pyproject
        # Optional extra validations from SchemaStore:
        additional_dependencies: ["validate-pyproject-schema-store[all]"]

  - repo: https://github.com/adamchainz/blacken-docs
    rev: "1.19.1"
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==24.*]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.9.4"
    hooks:
      - id: ruff
        types: [file, python]
        args: [--fix, --show-fixes]
      - id: ruff-format
        types: [file, python]

  - repo: https://github.com/codespell-project/codespell
    rev: "v2.4.1"
    hooks:
      - id: codespell
        types_or: [python, markdown, rst]
        additional_dependencies: [tomli]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.14.1'
    hooks:
      - id: mypy
        # https://github.com/python/mypy/issues/13916
        pass_filenames: false

  - repo: https://github.com/numpy/numpydoc
    rev: v1.8.0
    hooks:
      - id: numpydoc-validation
        files: "^src/"
        exclude: "^src/geovista/examples/"
        types: [file, python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-added-large-files
        exclude: "tests/plotting/image_cache"
        # Prevent giant files from being committed.
      - id: check-ast
        # Check whether files parse as valid Python.
      - id: check-case-conflict
        # Check for file name conflicts on case-insensitive file-systems.
      - id: check-merge-conflict
        # Check for files that contain merge conflict strings.
      - id: debug-statements
        # Check for debugger imports and py37+ `breakpoint()` calls in Python source.
      - id: check-toml
        # Check TOML file syntax.
      - id: check-yaml
        # Check YAML file syntax.
      - id: end-of-file-fixer
        # Makes sure files end in a newline and only a newline.
        exclude_types: [svg]
      - id: mixed-line-ending
        # Replaces or checks mixed line ending.
      - id: no-commit-to-branch
        # Don't commit to main branch.
      - id: trailing-whitespace
        # Trims trailing whitespace.

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
        # Enforce that all noqa annotations always occur with specific codes.
      - id: python-check-blanket-type-ignore
        # Enforce that "# type: ignore" annotations always occur with specific codes.
      - id: python-check-mock-methods
        # Prevent common mistakes of assert mck.not_called(), assert
        # mck.called_once_with(...) and mck.assert_called.
      - id: rst-backticks
        # Detect common mistake of using single backticks when writing rst.
      - id: rst-directive-colons
        # Detect mistake of rst directive not ending with double colon.
      - id: rst-inline-touching-normal
        # Detect mistake of inline code touching normal text in rst.
      - id: text-unicode-replacement-char
        # Forbid files which have a UTF-8 Unicode replacement character.

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.1
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
      - id: check-readthedocs

  - repo: https://github.com/scientific-python/cookie
    rev: 2025.01.22
    hooks:
      - id: sp-repo-review
        additional_dependencies: ["repo-review[cli]"]
        args: ["--show=errskip"]

  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        # See options: https://taplo.tamasfe.dev/configuration/formatter-options.html
        args: [--option, "reorder_arrays=true", --option, "reorder_keys=true"]
