prune .github
prune .tox
prune docs
prune requirements
recursive-include requirements *.txt
recursive-include src *.md *.py *.pyi *.rst *.txt
prune tests

include .git_archival.txt
include .gitattributes
exclude .all-contributorsrc
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .ruff.toml
include *.md
include CITATION.cff
exclude codecov.yml
exclude tox.ini
