prune .github
include .git_archival.txt
include .gitattributes
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .pylintrc
exclude .readthedocs.yml
include CITATION.cff
exclude codecov.yml
prune branding
prune docs
prune examples
include src/geovista/registry.txt
prune src/geovista/tests
prune requirements
prune tests
exclude tox.ini
