prune .github
prune .tox
prune docs
prune requirements
recursive-include requirements pypi-*.txt
recursive-include src *.py *.txt
prune tests

include .git_archival.txt
include .gitattributes
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
include *.md
include CITATION.cff
exclude codecov.yml
exclude tox.ini
