[build-system]
# Defined by PEP 518
requires = [
    "setuptools>=45",
    "setuptools_scm[toml]>=7",
    "wheel"
]
# Defined by PEP 517
build-backend = "setuptools.build_meta"


[tool.black]
line-length = 88
target-version = ["py38", "py39", "py310"]
include = '\.pyi?$'


[tool.check-manifest]
ignore = [
    "src/geovista/_version.py",
]


[tool.isort]
force_sort_within_sections = "True"
known_first_party = "geovista"
line_length = 88
profile = "black"
skip_gitignore = "True"
verbose = "False"


[tool.pytest.ini_options]
addopts = "-ra -v --doctest-modules --doctest-continue-on-failure --import-mode=importlib"
minversion = "6.0"
doctest_optionflags = "NORMALIZE_WHITESPACE ELLIPSIS NUMBER"
testpaths = "tests"


[tool.setuptools_scm]
write_to = "src/geovista/_version.py"
local_scheme = "dirty-tag"
#version_scheme = "release-branch-semver"

