[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | results
)
'''

[build-system]
# Defined by PEP 518
requires = ["setuptools>=40.8.0", "wheel"]
# Defined by PEP 517
build-backend = "setuptools.build_meta"
