.. include:: ../../common.txt

|gv_version| |build_date|
-------------------------

This is a **major/minor** release of ``geovista``.

See the :ref:`changelog <tippy-gv-reference-changelog-latest>` for full release details, and the
:fab:`github` `Discussion <https://github.com/bjlittle/geovista/discussions/>`__
for further information.


📢 Announcements
^^^^^^^^^^^^^^^^

* ``TBD`` prior to release.


💎 Highlights
^^^^^^^^^^^^^

Notable changes in this **major/minor** release of ``geovista`` include:

* ``TBD`` prior to release.


🚧 Patches
^^^^^^^^^^

The patches for this **major/minor** release of ``geovista`` include:

* N/A


.. note::

    Your feedback is important to us. So don't hesitate to share
    with us on :fab:`github` :issue:`GitHub<new/choose>`.

    We'd 💚 to hear from you.


.. comment

   ⚠️ Whatsnew resources in alphabetical order:
