name: "cartopy-cache"
description: "create and cache cartopy assets"

inputs:
  cache_period:
    description: "conda environment cache timestamp"
    required: true

runs:
  using: "composite"
  steps:
    - name: "check cartopy cache"
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
      id: cartopy-cache
      with:
        path: ~/.local/share/cartopy
        key: ${{ runner.os }}-cartopy-data-${{ inputs.cache_period }}

    - name: "refresh cartopy cache"
      if: steps.cartopy-cache.outputs.cache-hit != 'true'
      env:
        CARTOPY_SHARE_DIR: ~/.local/share/cartopy
      shell: bash
      run: |
        mkdir -p ${CARTOPY_SHARE_DIR}
        pixi run --frozen cartopy_feature_download physical --output ${CARTOPY_SHARE_DIR} --no-warn
