.gv-text-main { color: #80d050; }

.gv-text-comp { color: #7f2faf; }

/* brand fontawesome icons (fa, fas, far, fab) */
.fa-apple,
.fa-arrow-pointer,
.fa-battery-quarter,
.fa-bluesky,
.fa-box-archive,
.fa-circle-dot,
.fa-circle-info,
.fa-clapperboard,
.fa-code,
.fa-code-branch,
.fa-comments,
.fa-computer-mouse,
.fa-circle-down,
.fa-circle-half-stroke,
.fa-code-pull-request,
.fa-download,
.fa-droplet,
.fa-envira,
.fa-expand,
.fa-feather-pointed,
.fa-file-code,
.fa-file-contract,
.fa-file-lines,
.fa-file-waveform,
.fa-fire,
.fa-flask-vial,
.fa-github,
.fa-graduation-cap,
.fa-group-arrows-rotate,
.fa-hat-wizard,
.fa-heart-circle-bolt,
.fa-heart-circle-check,
.fa-heart-circle-plus,
.fa-image,
.fa-images,
.fa-keyboard,
.fa-lines-leaning,
.fa-linux,
.fa-magnifying-glass,
.fa-moon,
.fa-mountain,
.fa-panorama,
.fa-pen-to-square,
.fa-pencil,
.fa-people-roof,
.fa-poo-storm,
.fa-pump-medical,
.fa-puzzle-piece,
.fa-python,
.fa-quote-left,
.fa-readme,
.fa-recycle,
.fa-retweet,
.fa-road-circle-check,
.fa-road-circle-exclamation,
.fa-robot,
.fa-screwdriver-wrench,
.fa-square-pen,
.fa-seedling,
.fa-spell-check,
.fa-square-caret-down,
.fa-square-caret-up,
.fa-star-of-life,
.fa-sun,
.fa-tags,
.fa-terminal,
.fa-toolbox,
.fa-truck-fast,
.fa-users,
.fa-up-right-from-square,
.fa-vial-circle-check,
.fa-wand-magic-sparkles,
.fa-water,
.fa-wind,
.fa-youtube,
.fa-windows { color: #80d050 !important; }
