.wy-nav-content {
    max-width: none !important;
}

.custom-title {
    font-weight: bold;
    color: #9bc456 !important;
    text-align: left;
}

.custom-body {
    text-align: left;
    margin-left: max(45px, 15%);
}
