# Reference:
#   - https://github.com/actions/cache
#   - https://github.com/actions/checkout
#   - https://github.com/conda-incubator/setup-miniconda

name: ci-docs

on:
  pull_request:
  
  push:
    branches-ignore:
      - "conda-lock-auto-update"
      - "pre-commit-ci-update-config"
      - "dependabot/*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-docs:
    name: "Documentation ${{ matrix.task }}"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      ENV_NAME: "ci-docs"
    strategy:
      matrix:
        task: [build, linkcheck, test]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: "Environment configure"
      env:
        # Maximum cache period (in weeks) before forcing a cache refresh.
        CACHE_WEEKS: 2
      run: |
        echo "CACHE_PERIOD=$(date +%Y).$(expr $(date +%U) / ${CACHE_WEEKS})" >> ${GITHUB_ENV}

    - name: "Conda package cache"
      uses: actions/cache@v3
      env:
        # Increment the build number to force a cache refresh.
        CACHE_BUILD: 0
      with:
        path: ~/conda_pkgs_dir
        key: ${{ runner.os }}-conda-pkgs-${{ env.ENV_NAME }}-${{ matrix.task }}-p${{ env.CACHE_PERIOD }}-b${{ env.CACHE_BUILD }}

    - name: "Conda install"
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
        channels: conda-forge,defaults
        activate-environment: ${{ env.ENV_NAME }}
        auto-update-conda: false
        use-only-tar-bz2: true

    - name: "Conda environment cache"
      id: conda-env-cache
      uses: actions/cache@v3
      env:
        # Increment the build number to force a cache refresh.
        CACHE_BUILD: 0
      with:
        path: ${{ env.CONDA }}/envs/${{ env.ENV_NAME }}
        key: ${{ runner.os }}-conda-env-${{ env.ENV_NAME }}-${{ matrix.task }}-p${{ env.CACHE_PERIOD }}-b${{ env.CACHE_BUILD }}

    - name: "Conda environment update"
      if: steps.conda-env-cache.outputs.cache-hit != 'true'
      run: |
        conda install --name ${{ env.ENV_NAME }} tox

    - name: "Conda info"
      run: |
        conda info
        conda list

    - name: "Tox cache"
      uses: actions/cache@v3
      env:
        # Increment the build number to forece a cache refresh.
        CACHE_BUILD: 0
        TOX_INI: ${{ github.workspace }}/tox.ini
      with:
        path: ${{ github.workspace }}/.tox
        key: ${{ runner.os }}-tox-${{ env.ENV_NAME }}-${{ matrix.task }}-p${{ env.CACHE_PERIOD }}-b${{ env.CACHE_BUILD }}-${{ hashFiles(env.TOX_INI) }}

    - name: "Run doc-${{ matrix.task }}"
      run: |
        tox -e doc-${{ matrix.task }}
