# Reference:
#   - https://github.com/actions/checkout
#   - https://github.com/actions/upload-artifact
#   - https://github.com/awalsh128/cache-apt-pkgs-action
#   - https://github.com/prefix-dev/setup-pixi

name: ci-tests-docs

on:
  pull_request:

  push:
    branches:
      - "main"
      - "v*x"
      - "!pixi-auto-update"
      - "!pre-commit-ci-update-config"
      - "!dependabot/*"
    tags:
      - "v*"

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  tests:
    name: "test images (${{ matrix.version }})"
    runs-on: "${{ matrix.os }}"

    defaults:
      run:
        shell: bash -l {0}

    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-22.04"]
        version: ["py313"]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: "environment configure"
        env:
          # Maximum cache period (in weeks) before forcing a cache refresh.
          CACHE_WEEKS: 2
        run: |
          echo "CACHE_PERIOD=$(date +%Y).$(expr $(date +%U) / ${CACHE_WEEKS})" >> ${GITHUB_ENV}

      - name: "apt cache"
        uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05
        with:
          packages: libgl1-mesa-glx
          version: 1.0

      - name: "setup pixi"
        uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e
        with:
          environments: "geovista-${{ matrix.version }}"
          frozen: true
          activate-environment: true

      - name: "cartopy cache"
        uses: ./.github/workflows/composite/cartopy-cache
        with:
          cache_period: ${{ env.CACHE_PERIOD }}

      - name: "geovista cache"
        uses: ./.github/workflows/composite/geovista-cache
        with:
          cache_period: ${{ env.CACHE_PERIOD }}

      - name: "test images (${{ matrix.version }})"
        run: |
          geovista --report
          pixi run --frozen tests-docs

      - name: "upload test images"
        if: ${{ failure() && !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: ci-tests-docs-test-images-failure-${{ github.job }}-${{ strategy.job-index }}
          path: ${{ github.workspace }}/test_images_failed
