# Reference:
#   - https://github.com/actions/create-github-app-token
#   - https://github.com/adRise/update-pr-branch

name: ci-update

on:
  push:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  autoupdate:
    runs-on: "ubuntu-latest"

    steps:
      - name: "generate token"
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        id: generate-token
        with:
          app-id: ${{ secrets.AUTH_APP_ID }}
          private-key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}

      - name: "automatically update PR"
        uses: adRise/update-pr-branch@a51c014567e5be98445551cce9b8f5ad42dd8acf
        with:
          token: ${{ steps.generate-token.outputs.token }}
          base: "main"
          required_approval_count: 1
          require_passed_checks: true
          sort: "created"
          direction: "desc"
          require_auto_merge_enabled: true
