# Reference:
#   - https://github.com/tibdex/github-app-token
#   - https://github.com/adRise/update-pr-branch

name: ci-update

on:
  push:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  autoupdate:
    runs-on: "ubuntu-latest"

    steps:
      - name: "generate token"
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a
        id: generate-token
        with:
          app_id: ${{ secrets.AUTH_APP_ID }}
          private_key: ${{ secrets.AUTH_APP_PRIVATE_KEY }}

      - name: "automatically update PR"
        uses: adRise/update-pr-branch@1982757e254dab9d5bbb8478b35a2b20411270d9
        with:
          token: ${{ steps.generate-token.outputs.token }}
          base: "main"
          required_approval_count: 1
          require_passed_checks: true
          sort: "created"
          direction: "desc"
          require_auto_merge_enabled: true
